@media (min-width: 992px) {
	.sponsor-placeholder {
		width: 12.5% !important;
	}
}

.sponsor-placeholder {
	width: 0;
}

.signup-button {
	font-size: 15px;
	padding: 12px 45px;
	background-color: rgba(140, 197, 47, 0.8);
}

p.text-muted b {
  color: white;
}

span.timer {
	font-weight: bolder;
	font-size:12.0vw;
	width: 100%;
	background-image: linear-gradient(#00cba4, #5400bb);
	color: transparent;
	background-clip: text;
}

section.timer {
	padding-top: 0;
}

/** HERO **/

/* .hero {
  background: url("../img/hero2023.png");
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	text-align: center;
} */